**/.vscode/**
**/.pyenv/**
**/__pycache__/**
**/test/**
**/build/**
**/dist/**
**/.openapi-generator/**
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI/packages.config
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI/TorizonRestAPI.csproj
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI/TorizonRestAPI.nuspec
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/**
clients/csharp/TorizonAppDeploymentAPI/generated/.openapi-generator-ignore
clients/csharp/TorizonAppDeploymentAPI/generated/.travis.yml
clients/csharp/TorizonAppDeploymentAPI/generated/build.bat
clients/csharp/TorizonAppDeploymentAPI/generated/build.sh
clients/csharp/TorizonAppDeploymentAPI/generated/git_push.sh
clients/csharp/TorizonAppDeploymentAPI/generated/mono_nunit_test.sh
clients/csharp/TorizonAppDeploymentAPI/generated/README.md
clients/csharp/TorizonAppDeploymentAPI/generated/TorizonRestAPI.sln
clients/python/.openapi-generator-ignore
clients/python/.travis.yml
clients/python/git_push.sh
clients/python/requirements.txt
clients/python/test-requirements.txt
clients/python/tox.ini
clients/typescript/.openapi-generator-ignore
clients/typescript/git_push.sh
clients/typescript/torizonrestapi-1.0.0.tgz
