/**/.vscode/**
/**/.pyenv/**
/**/__pycache__/**
/**/test/**
/**/.openapi-generator/**
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI/packages.config
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI/TorizonRestAPI.csproj
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI/TorizonRestAPI.nuspec
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/packages.config
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/TorizonRestAPI.Test.csproj
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Api/ApplicationsApiTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Api/DevicesApiTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Api/PlatformsApiTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Api/SetupApiTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Api/VersionApiTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/ApplicationTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerAddressTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerContainerConfigTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerContainerStateTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerContainerTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerDeviceMappingTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerEndpointIPAMConfigTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerEndpointSettingsTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerGraphDriverDataTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerHealthConfigTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerHostConfigAllOfLogConfigTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerHostConfigAllOfTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerHostConfigTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerImageMetadataTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerImageRootFSTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerImageTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerMountBindOptionsTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerMountPointTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerMountTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerMountTmpfsOptionsTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerMountVolumeOptionsDriverConfigTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerMountVolumeOptionsTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerNetworkSettingsTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerPortBindingTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerResourcesBlkioWeightDeviceTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerResourcesTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerResourcesUlimitsTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerRestartPolicyTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerThrottleDeviceTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerVersionComponentsTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerVersionPlatformTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/DockerVersionTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/ErrorInfoTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/InlineResponse200Tests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/MemInfoTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/MountPointTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/PlatformTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/ProcessTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/src/TorizonRestAPI.Test/Model/TargetDeviceTests.cs
clients/csharp/TorizonAppDeploymentAPI/generated/.openapi-generator-ignore
clients/csharp/TorizonAppDeploymentAPI/generated/.travis.yml
clients/csharp/TorizonAppDeploymentAPI/generated/build.bat
clients/csharp/TorizonAppDeploymentAPI/generated/build.sh
clients/csharp/TorizonAppDeploymentAPI/generated/git_push.sh
clients/csharp/TorizonAppDeploymentAPI/generated/mono_nunit_test.sh
clients/csharp/TorizonAppDeploymentAPI/generated/README.md
clients/csharp/TorizonAppDeploymentAPI/generated/TorizonRestAPI.sln
clients/python/.openapi-generator-ignore
clients/python/.travis.yml
clients/python/git_push.sh
clients/python/requirements.txt
clients/python/test-requirements.txt
clients/python/tox.ini
clients/typescript/.openapi-generator-ignore
clients/typescript/git_push.sh
clients/typescript/torizonrestapi-1.0.0.tgz
