python-dateutil==2.8.1
tabulate==0.8.7
urllib3==1.25.10
connexion==2.7.0
docker==4.3.1
pyserial==3.4
pyinstaller==4.0
PyYAML==5.3.1
sshtunnel==0.1.5
swagger-ui-bundle==0.0.8
waitress==1.4.4
dnspython==2.0.0
